.container {
  position: relative;
  height: 100%;

  &.hide {
    & .dropdown {
      opacity: 0;
      pointer-events: none;
      user-select: none;
    }
    & .main-button__icon {
      transform: rotate(-180deg);
    }
  }
}

.main-button {
  font-family: inherit;
  color: var(--clr-5);
  font-size: 14px;
  font-weight: 400;
  position: relative;
  padding: 10px 33.5px 10px 17.5px;
  height: 100%;
  display: flex;
  align-items: center;
  background-color: var(--clr-3);
  border: none;
  border-radius: 10px;
  cursor: pointer;

  &__icon {
    position: absolute;
    right: 16.5px;
    transition: transform 85ms;
  }
}

.dropdown {
  --offsetX: 0px;
  position: absolute;
  bottom: -16px;
  left: 0;
  transform: translateY(100%);
  border-radius: 10px;
  box-shadow: 0px 10px 20px rgba(54, 78, 126, 0.25);
  background-color: var(--clr-4);
  transition: opacity 85ms;
  width: 100%;
  min-width: 255px;
  z-index: 10;

  &.up {
    bottom: initial;
    top: -4px;
    transform: translate(-50%, -100%);
    box-shadow: 0px 10px 40px -7px rgba(55, 63, 104, 0.350492);
  }

  &__item {
    position: relative;
    display: flex;
    align-items: center;

    &:not(:last-child) {
      border-bottom: 1px solid rgba(58, 67, 116, 0.15);
    }

    &-btn {
      -webkit-appearance: none;
      font-family: inherit;
      background: none;
      border: none;
      color: var(--clr-8);
      cursor: pointer;
      width: 100%;
      text-align: start;
      padding: 12px 30px 12px 16px;
      font-size: 13px;
      font-weight: 500;
      line-height: 23px;

      &:hover {
        color: var(--clr-1);
      }
    }

    &-icon {
      position: absolute;
      right: 24px;
      pointer-events: none;
      user-select: none;
    }
  }
}
