.container {
  max-width: 540px;
  margin: 0 auto;
}

.header {
  margin-top: 64px;

  @media (max-width: 900px) {
    margin-top: 56px;
  }

  @media (max-width: 650px) {
    margin-top: 22px;
  }
}

.main {
  position: relative;
  margin-top: 56px;
  padding: 52px 42px 40px 42px;
  margin-bottom: 129px;

  @media (max-width: 650px) {
    margin-top: 43px;
    margin-bottom: 77px;
  }

  @media (max-width: 550px) {
    padding: 44px 24px 24px 24px;
  }
}

.icon {
  position: absolute;
  top: 0;
  left: 42px;
  transform: translateY(-50%) scale(1.4);

  @media (max-width: 550px) {
    transform: translateY(-50%);
    left: 24px;
  }
}

.heading {
  margin-bottom: 75px;

  @media (max-width: 550px) {
    margin-bottom: 24px;
  }
}

.field-title {
  margin-bottom: 2px;
}

.field-label {
  display: block;
  margin-bottom: 16px;
  color: var(--clr-8);
  font-size: 14px;
  line-height: 20px;
}

.field {
  margin-bottom: 24px;
}

.description-textarea {
  height: 96px;
}

.buttons {
  display: flex;
  flex-direction: row-reverse;
  margin-top: 32px;

  & > button:not(:last-child) {
    margin-left: 16px;

    @media (max-width: 450px) {
      margin-left: 0;
      margin-bottom: 16px;
    }
  }

  @media (max-width: 450px) {
    flex-direction: column;
  }
}

.btn-delete {
  margin-right: auto;

  @media (max-width: 450px) {
    margin-right: 0;
  }
}

.btn-cancel {
}
