.container {
  max-width: 540px;
  margin: 0 auto;
}

.header {
  margin-top: 76px;
}

.main {
  position: relative;
  margin-top: 68px;
  padding: 52px 42px 40px 42px;
  margin-bottom: 129px;
}

.icon {
  position: absolute;
  top: 0;
  left: 42px;
  transform: translateY(-50%) scale(1.4);
}

.heading {
  margin-bottom: 75px;
}

.field-title {
  margin-bottom: 2px;
}

.field-label {
  display: block;
  margin-bottom: 16px;
  color: var(--clr-8);
  font-size: 14px;
  line-height: 20px;
}

.field {
  margin-bottom: 24px;
}

.description-textarea {
  height: 96px;
}

.buttons {
  display: flex;
  margin-top: 32px;
}

.btn-delete {
  margin-right: auto;
}

.btn-cancel {
  margin-right: 16px;
}
