.field-wrapper {
  position: relative;
  width: 100%;
}

.field {
  display: block;
  font-family: inherit;
  font-size: 0.9375em;
  line-height: 22px;
  background-color: var(--clr-6);
  border: 1px solid transparent;
  border-radius: 5px;
  outline: none;
  padding: 0.8125em 1.5em;
  width: 100%;

  &::placeholder {
    color: #8c92b3;
  }

  &--active,
  &:focus,
  &:focus-visible {
    border-color: var(--clr-2);
  }

  &.error {
    border-color: var(--clr-11);
  }
}

.error-text {
  position: absolute;
  left: 0;
  bottom: -4px;
  transform: translateY(100%);
  color: var(--clr-11);
  font-size: 14px;
  line-height: 20.23px;
}
