.container {
  display: flex;
  align-items: center;
  color: var(--clr-8);

  &:focus-visible {
    text-decoration: underline;
  }

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      text-decoration: underline;
    }
  }

  & > svg {
    margin-right: 15.67px;
    color: var(--clr-2);
  }
}
