.container {
  display: flex;
  align-items: center;
  color: var(--clr-8);
  height: 3.786em;

  &:hover {
    text-decoration: underline;
  }

  & > svg {
    margin-right: 15.67px;
    color: var(--clr-2);
  }
}
