.container {
  max-width: 1110px;
  margin-top: 94px;
  margin-bottom: 129px;
  display: flex;

  @media (max-width: 975px) {
    flex-direction: column;
    margin-top: 56px;
    margin-bottom: 113px;
  }

  @media (max-width: 675px) {
    margin-top: 128px;
  }
}

.header {
  position: sticky;
  top: 15px;
  z-index: 3;
  width: 255px;
  height: max-content;
  flex-shrink: 0;

  @media (max-width: 975px) {
    width: 100%;
    display: flex;
    position: static;
  }

  @media (max-width: 720px) {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 5;
  }

  &__title {
    width: 255px;
    height: 137px;
    position: relative;
    color: var(--clr-4);
    border-radius: 10px;
    background-color: var(--clr-1);
    z-index: 3;

    @media (max-width: 975px) {
      width: 100%;
      max-width: 223px;
      height: auto;
      margin-right: 10px;
    }

    @media (max-width: 720px) {
      max-width: initial;
      height: 72px;
      border-radius: 0;
      margin-right: 0;
    }

    &-img {
      border-radius: 10px;
      object-fit: cover;
      width: 100%;
      height: 100%;

      @media (max-width: 720px) {
        border-radius: 0;
      }
    }

    &-text {
      display: flex;
      flex-direction: column;
      position: absolute;
      bottom: 24px;
      left: 24px;
      padding-right: 24px;

      @media (max-width: 720px) {
        height: 100%;
        top: 0;
        justify-content: center;
        bottom: initial;
      }

      &-subtitle {
        opacity: 0.75;
      }
    }
  }

  &__hamburger {
    background: none;
    border: none;
    position: absolute;
    right: 20px;
    top: 50%;
    cursor: pointer;
    height: 80%;
    padding: 0 6px;
    transform: translateY(-50%);
  }

  &__backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #000000;
    opacity: 0.5;
    animation: backdropFadeIn 200ms;
  }

  &__menu {
    background-color: var(--clr-6);

    @media (max-width: 975px) {
      display: flex;
    }

    @media (max-width: 720px) {
      position: fixed;
      top: 0;
      right: 0;
      flex-direction: column;
      height: 100%;
      width: 271px;
      padding: 96px 24px 24px 24px;
      transform: translateX(100%);
      z-index: 2;
      transition: transform 200ms;

      &.show {
        transform: translateX(0);
      }
    }
  }

  &__categories {
    margin-top: 24px;
    padding: 10px 24px 24px 24px;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;

    @media (max-width: 975px) {
      width: 100%;
      margin-top: 0;
      padding-bottom: 36px;
      padding-right: 5px;
      margin-right: 10px;
    }

    @media (max-width: 720px) {
      margin-right: 0;
      margin-bottom: 24px;
    }

    &-btn {
      width: auto;
      margin-right: 8px;
      margin-top: 14px;
    }
  }
}

.roadmap {
  margin-top: 24px;
  padding: 19px 24px 24px 24px;

  @media (max-width: 975px) {
    width: 100%;
    margin-top: 0;
  }

  &__heading-wrapper {
    display: flex;
    align-items: center;
  }

  &__list {
    margin-top: 24px;
  }

  &__item {
    margin-top: 8px;
    display: flex;
    align-items: center;

    &-planned {
      & > .circle {
        background-color: var(--clr-9);
      }
    }

    &-inprogress {
      & > .circle {
        background-color: var(--clr-1);
      }
    }

    &-live {
      & > .circle {
        background-color: var(--clr-10);
      }
    }

    &-num {
      display: block;
      margin-left: auto;
      font-weight: 700;
    }
  }

  &-anchor {
    font-weight: 700;
    margin-left: auto;
    color: var(--clr-2);
    font-size: 0.8125rem;

    &:focus-visible {
      color: #8397f8;
    }

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        color: #8397f8;
      }
    }

    &--disabled {
      pointer-events: none;
      opacity: 0.25;
    }
  }
}

.main {
  width: 100%;
  margin-left: 30px;

  @media (max-width: 975px) {
    margin-left: 0;
    margin-top: 40px;
  }

  @media (max-width: 675px) {
    margin-top: 0;
  }
}

.content {
  width: 100%;

  &__header {
    position: sticky;
    top: 15px;
    z-index: 3;
    padding-left: 24px;
    padding-right: 16px;
    height: 72px;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: var(--clr-3);
    color: var(--clr-4);
    border-radius: 10px;

    @media (max-width: 675px) {
      position: fixed;
      left: 0;
      width: 100%;
      border-radius: 0;
      top: 72px;
      height: auto;
      padding-top: 8px;
      padding-bottom: 8px;
    }

    &-suggestions {
      display: flex;
      align-items: center;
      flex-shrink: 0;
    }

    &-icon {
      margin-right: 16px;
    }

    &-dropdown {
      margin-left: 20.5px;
      margin-right: auto;

      @media (max-width: 600px) {
        margin-left: 0;
      }

      &-btn {
        @media (max-width: 600px) {
          padding-left: 0;
        }
      }

      &-text {
        font-size: 0.875rem;

        @media (max-width: 550px) {
          font-size: 0.8125rem;
        }
      }
    }

    &-add-feedback {
      text-decoration: none;
    }
  }
}

.circle {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-right: 16px;
}

.feedbacks {
  margin-top: 24px;
  list-style: none;

  &__item {
    margin-bottom: 20px;
  }
}

.feedbacks-empty {
  margin-top: 24px;
  padding-top: 50px;
  padding-bottom: 50px;
  min-height: calc(100vh - 424px);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

  &-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 410px;
  }

  &__illustration {
    width: 130px;

    &-wrapper {
      min-height: 138px;
    }
  }

  &__heading {
    margin-top: 53px;
  }

  &__paragraph {
    margin-top: 16px;
    margin-bottom: 48px;
  }
}

@keyframes backdropFadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 0.5;
  }
}
