.text {
  &--1 {
    font-size: 1em;
    line-height: 1.4375em;
  }

  &--2 {
    font-size: 0.9375em;
    line-height: 1.375em;
  }

  &--3 {
    font-size: 0.8125em;
    line-height: 1.1875em;
    font-weight: 600;
  }
}
